/*!
 * Unique slider styles
 */

.slider-container {
  margin: 0 auto;
}

.slidesjs-pagination-item {
  display: inline;
  float: right;
}

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url("pagination.png");
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

ul {
  list-style: none !important;
}

/*Admin styles*/
input#mooihelp_slider_upload {
  width: 100% !important;
}